.khayr-ajax.type-loading .khayr-ajax__placeholder {
    display: block !important;
}

.khayr-ajax.type-loading .khayr-ajax__lists {
    display: none !important;
}

.khayr-ajax__placeholder {
    display: none;
    position: relative;
}

.khayr-ajax__placeholder--item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    opacity: 0.6;
}

.khayr-ajax__placeholder--item-1 {
    position: relative;
    flex: 0 0 calc(25% - 15px);
    max-width: calc(25% - 15px);
    margin-right: 15px;
    background-color: #fff;
    overflow: hidden;
}

.khayr-ajax__placeholder--item-1:before {
    content: '';
    display: block;
    position: relative;
    padding-bottom: 70%;
}

.khayr-ajax__placeholder--item-2 {
    position: relative;
    flex: 0 0 75%;
    max-width: 75%;
    background-color: #fff;
    overflow: hidden;
}

.module-article-widget__wrapper.khayr-ajax__list:not(.module-article-widget__show-image) .module-latest-blog__item--image{
    display: none;
}

.module-article-widget__wrapper.khayr-ajax__list:not(.module-article-widget__show-image) .module-latest-blog__item--content{
    flex: 0 0 100%;
    max-width: 100%;
}

.khayr-ajax__placeholder--item-1:after,
.khayr-ajax__placeholder--item-2:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ddd;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(200, 200, 200, 1) 50%, rgba(255, 255, 255, 0) 100%);
    -webkit-animation: transform-move 1s infinite;
    animation: transform-move 1s infinite;
}

.khayr-ajax__filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 90px;
}

.khayr-ajax__filter-group {
    padding: 10px;
}

.khayr-ajax__filter-group select {
    border: 1px solid #707070;
    padding: 14px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    width: 300px;
    max-width: 100%;
    cursor: pointer;
    color: #fdfdff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.khayr-ajax__filter-group .choices {
    overflow: visible;
}

.khayr-ajax__filter-group .choices__placeholder {
    opacity: 1;
}

.khayr-ajax__filter-group .choices[data-type*=select-one] .choices__inner {
    border: 1px solid #707070;
    padding: 14px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    background-color: #002E3F;
    border-radius: 0;
    width: 300px;
    max-width: 100%;
    cursor: pointer;
    color: #fdfdff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.khayr-ajax__filter-group .choices[data-type*=select-one].is-open::after{
    transform: scale(1, -1);
}

.khayr-ajax__filter-group .choices[data-type*=select-one]::after {
    border-color: #707070 transparent transparent;
}

.khayr-ajax__filter-group .choices__list--dropdown,
.khayr-ajax__filter-group .choices__list[aria-expanded] {
    background-color: #002E3F;
    border: 1px solid #707070;
}

.khayr-ajax__filter-group .choices__list--dropdown .choices__item--selectable.is-highlighted,
.khayr-ajax__filter-group .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: #f48841;
}

.khayr-ajax__filter-group .choices__list--dropdown,
.khayr-ajax__filter-group .choices__list[aria-expanded] {
    border-radius: 0;
}

.khayr-ajax__filter-group .choices__list--single {
    padding: 0;
}

.khayr-ajax__filter-group select option {
    color: #333;
}

.khayr-ajax__featured {
    padding-top: 170px;
    margin-bottom: 90px;
}

.khayr-ajax__featured .module-latest-blog__item {
    position: relative;
}

.khayr-ajax__featured .module-latest-blog__item--content {
    position: absolute;
    right: 0;
    top: 50%;
    background-color: #002e3f;
    padding: 25px;
    width: 580px;
    max-width: 100%;
    transform: translatey(-50%);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.khayr-ajax__featured .module-latest-blog__item--date-inner {
    position: absolute;
    top: -35px;
}

.khayr-ajax__featured .module-latest-blog__item--description {
    display: none;
}

.khayr-ajax__featured .module-latest-blog__item--image {
    flex: 0 0 70%;
    max-width: 70%;
    position: relative;
}

.khayr-ajax__featured .module-latest-blog__item--image:before {
    content: '';
    display: block;
    position: relative;
    padding-bottom: 59.3%;
}

.khayr-ajax__featured .module-latest-blog__item--image .content-img__item {
    height: 100%;
}

.khayr-ajax__featured .module-latest-blog__item--image .content-img__item:before {
    display: none;
}

.khayr-ajax__pagination {
    padding-bottom: 100px;
}

.khayr-ajax__pagination ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.khayr-ajax__pagination ul li {
    padding-left: 15px;
    padding-right: 15px;
}

.khayr-ajax__pagination ul li.previous-btn a,
.khayr-ajax__pagination ul li.next-btn a {
    font-size: 14px;
    line-height: 1;
    color: #f48841;
}

.khayr-ajax__pagination ul li.previous-btn a i,
.khayr-ajax__pagination ul li.next-btn a i {
    display: block;
    position: relative;
}

.khayr-ajax__pagination ul li.previous-btn i {
    transform: rotate(-90deg);
}

.khayr-ajax__pagination ul li.next-btn i {
    transform: rotate(90deg);
}

.khayr-ajax__pagination ul li a {
    display: block;
    padding: 10px;
    font-size: 20px;
    line-height: 27px;
    color: #fff;
}

.khayr-ajax__pagination ul li a.active,
.khayr-ajax__pagination ul li a:hover {
    color: #f48841;
    font-weight: bold;
}

.khayr-ajax__lists {
    margin-bottom: 90px;
}

.khayr-ajax__list {
    flex: 0 0 100%;
    max-width: 100%;
}

.khayr-ajax__list .module-latest-blog__item {
    padding-bottom: 0;
}

.khayr-ajax__list .module-latest-blog__item--content {
    padding-left: 0px;
    padding-bottom: 50px;
    flex: 0 0 75%;
    max-width: 75%;
    border-bottom: 1px solid #fdfdff;
}

.khayr-ajax__list .module-latest-blog__item--image {
    flex: 0 0 calc(25% - 25px);
    max-width: calc(25% - 25px);
    margin-right: 25px;
}

.module-latest-blog__item--date-inner {
    display: block;
    margin-bottom: 10px;
}

.module-latest-blog__item--image {
    flex: 0 0 20%;
    max-width: 20%;
    position: relative;
}

.module-latest-blog__item--image .content-img__item {
    height: auto;
    overflow: hidden;
}

.module-latest-blog__item--image .content-img__item:before {
    content: '';
    display: block;
    position: relative;
    padding-bottom: 82%;
}

@-webkit-keyframes transform-move {
    0% {
        transform: translatex(-110%);
    }

    100% {
        transform: translatex(110%);
    }
}

@keyframes transform-move {
    0% {
        transform: translatex(-110%);
    }

    100% {
        transform: translatex(110%);
    }
}

@media (max-width:991px) {
    .khayr-ajax__featured {
        padding-top: 90px;
        margin-bottom: 50px;
    }

    .khayr-ajax__featured .module-latest-blog__item--image {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .khayr-ajax__featured .module-latest-blog__item--content {
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        transform: none;
        top: auto;
    }

    .khayr-ajax__list .module-latest-blog__item {
        margin-bottom: 20px;
    }

    .khayr-ajax__list .module-latest-blog__item--image {
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        margin-bottom: 10px;
    }

    .khayr-ajax__list .module-latest-blog__item--image:before {
        content: '';
        display: block;
        padding-bottom: 60%;
    }

    .khayr-ajax__list .module-latest-blog__item--image .content-img__item {
        height: 100%;
    }

    .khayr-ajax__list .module-latest-blog__item--image .content-img__item:before {
        display: none;
    }

    .khayr-ajax__list .module-latest-blog__item--content {
        flex: 0 0 100%;
        max-width: 100%;
        padding-bottom: 20px;
    }

    .khayr-ajax__lists {
        margin-bottom: 60px;
    }

}

@media (max-width: 768px) {
    .blog .page-wrap {
        margin-top: 0;
    }

    .khayr-ajax__featured {
        padding-top: 0;
    }

    .khayr-ajax__featured .module-latest-blog__item {
        padding-top: 0;
        padding-bottom: 0;
    }

    .khayr-ajax__featured .module-latest-blog__item--image {
        flex: 0 0 calc(100% + 60px);
        max-width: calc(100% + 60px);
        margin-left: -30px;
        margin-right: -30px;
    }

    .khayr-ajax__featured .module-latest-blog__item--content {
        margin-top: -50px;
    }

    .khayr-ajax__featured .module-latest-blog__item--date-inner {
        top: auto;
        bottom: 15px;
        right: 15px;
    }

    .khayr-ajax__list .module-latest-blog__item {
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    .khayr-ajax__list .module-latest-blog__item:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: -30px;
        right: -30px;
        height: 1px;
        background-color: #fdfdff;
    }

    .khayr-ajax__list .module-latest-blog__item--image {
        /* order: 2;
        margin-bottom: 0; */
    }

    .module-article-widget .khayr-ajax__list .module-latest-blog__item--image {
        order: 0;
        margin-bottom: 15px;
    }

    .khayr-ajax__list .module-latest-blog__item--content {
        order: 1;
        border: none;
        padding-bottom: 10px;
    }

    .khayr-ajax__list .module-latest-blog__item--content {
        position: relative;
    }

    .khayr-ajax__filter {
        overflow: hidden;
        height: 0;
        transition: all ease 0.5s;
        margin-bottom: 30px;
    }

    .section-ajax--blog .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .blog .container {
        max-width: 100%;
    }
}

.khayr-ajax__filter-trigger-mobile {
    display: none;
}

@media (max-width: 768px) {
    .khayr-ajax__filter-trigger {
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 35px;
        color: #fdfdff !important;
        border: 1px solid #707070;
        cursor: pointer;
        margin-bottom: 15px;
    }

    .khayr-ajax__filter-trigger-mobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .khayr-ajax__filter-trigger .icon {
        pointer-events: none;
    }
}