.module-contact-newsletter {
    padding-top: 60px;
    padding-bottom: 60px;
}

.text-color-black .module-contact-newsletter__top * {
    color: #002e3f;
}

.module-contact-newsletter__bottom {
    position: relative;
    max-width: 100%;
    width: 100%;
}

.module-contact-newsletter__wrapper{
    width: var(--mcn-width);
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 991px) {
    .module-contact-newsletter__wrapper{
        width: var(--mcn-mobile-width);
    }
}

.text-color-black .module-contact-newsletter__bottom * {
    color: #002e3f;
}

.text-color-black .module-contact-newsletter__bottom input[type=text],
.text-color-black .module-contact-newsletter__bottom input[type=email],
.text-color-black .module-contact-newsletter__bottom input[type=password],
.text-color-black .module-contact-newsletter__bottom select,
.text-color-black .module-contact-newsletter__bottom textarea {
    border-bottom: 1px solid #002e3f;
}

.module-contact-newsletter__bottom .form-group-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.module-contact-newsletter__top h2{
    font-size: 30px;
    line-height: 1.2;
}

@media (max-width: 450px) {
    .module-contact-newsletter__bottom .form-group-wrapper {
        margin-bottom: 0px;
    }
}

.module-contact-newsletter__bottom .form-group-wrapper .form-group {
    flex: 0 0 calc(100% - 215px);
    max-width: calc(100% - 215px);
    margin-bottom: 0;
}

@media (max-width: 550px) {
    .module-contact-newsletter__bottom .form-group-wrapper .form-group {
        flex: 0 0 calc(100% - 170px);
        max-width: calc(100% - 170px);
    }
}

@media (max-width: 450px) {
    .module-contact-newsletter__bottom .form-group-wrapper .form-group {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
}

.module-contact-newsletter__bottom .form-group-wrapper .form-group.submit {
    flex: 0 0 215px;
    max-width: 215px;
    position: relative;
    right: auto;
    bottom: auto;
}

@media (max-width: 550px) {
    .module-contact-newsletter__bottom .form-group-wrapper .form-group.submit {
        flex: 0 0 170px;
        max-width: 170px;
    }
}

@media (max-width: 450px) {
    .module-contact-newsletter__bottom .form-group-wrapper .form-group.submit {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.module-contact-newsletter__bottom .form-group-wrapper .form-group.submit .module-button {
    height: 100%;
}

.module-contact-newsletter__bottom .form-group-wrapper .form-group.submit .module-button__wrapper {
    height: 100%;
}

.module-contact-newsletter__bottom .form-group-wrapper .form-group.submit .module-button__wrapper .module-button__wrapper--link:hover span.icon-panah {
    width: 26px;
    padding-left: 0;
    transform: translatex(10px);
}

.module-contact-newsletter__bottom .form-group-wrapper .form-group.submit .module-button__wrapper button {
    height: 100%;
}

@media (max-width: 550px) {
    .module-contact-newsletter__bottom .form-group-wrapper .form-group.submit .module-button__wrapper button {
        padding: 5px 14px;
    }
}

.module-contact-newsletter__bottom .form-group-wrapper .form-group p {
    margin-bottom: 0;
}