.text-color-black.module-text-grid-seo * {
    color: #002e3f;
}
.module-text-grid-seo{
    padding: 60px 20px;
}
.module-text-grid-seo__heading{
    margin-bottom: 60px;
}
.module-text-grid-seo__heading-text{
    text-align: center;
    margin-bottom: 0;
}
.module-text-grid-seo__content{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.module-text-grid-seo__content-item{
    width: 33.33333333333333%;
    padding: 0 40px;
    margin-bottom: 40px;
}
.module-text-grid-seo__content-item-title{
    margin-bottom: 20px;
}

/* responsive 991 */
@media (max-width: 991px) {
    .module-text-grid-seo{
        padding: 40px 20px;
    }
    .module-text-grid-seo__heading{
        margin-bottom: 30px;
    }
    .module-text-grid-seo__content-item{
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
    }
}