.module-contact {
    padding-top: 60px;
    padding-bottom: 100px;
}

.module-contact__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 60px;
}

.module-contact__heading {
    flex: 0 0 50%;
    max-width: 50%;
}

.module-contact__heading h2 {
    margin-bottom: 0;
}

.mc-font-small .module-contact__heading h2{
    font-size: 30px;
    line-height: 1.2;
}

.module-contact__lists {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 100px;
}

.module-contact__lists a {
    display: block;
    color: #fff;
    font-size: 40px;
    line-height: 53px;
    font-weight: 400;
}

.mc-font-small .module-contact__lists a {
    font-size: 30px;
    line-height: 1.2;
}

.module-contact__lists a i {
    margin-right: 10px;
    display: inline-block;
}

.module-contact__lists a:not(:last-child) {
    margin-bottom: 23px;
}

.module-contact__lists {
    padding-left: 80px;
}

.module-contact__lists a {
    padding-left: 55px;
    position: relative;
}

.module-contact__lists a .icon {
    position: absolute;
    top: 55%;
    left: 0;
    color:#f48841;
    transform: translatey(-50%);
}

.module-contact__lists a .title {
    position: relative;
    display: inline-block;
    color:#f48841;
}

.module-contact__lists a .title:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #f48841;
    left: 0;
    bottom: 0;
    transition: all ease 0.5s;
}

.module-contact__lists a:hover .title:after {
    width: 100%;
}


.hide-form .module-contact__bottom {
    display: none;
}

.module-contact__bottom {
    position: relative;
}

.module-contact__bottom-image {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translatex(-50%);
    width: 100vw;
    height: calc(100% - 100px);
    overflow: hidden;
}

.module-contact__bottom-form {
    position: relative;
    max-width: 100%;
    width: 500px;
    padding: 50px;
    padding-bottom: 130px;
    background-color: #022e3f;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.module-contact__bottom.form-center .module-contact__bottom-form {
    margin-left: auto;
    margin-right: auto;
}

.module-contact__bottom-image iframe {
    width: 100%;
    height: 100%;
}

.module-contact__bottom-image.map:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 46, 63, .3);
}

@media (max-width: 1024px) {
    .module-contact__top {
        flex-direction: column;
        align-items: flex-start;
    }

    .module-contact__heading {
        margin-bottom: 30px;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .module-contact__lists {
        padding-left: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    .module-contact__bottom-form {
        padding: 30px;
        padding-bottom: 130px;
    }

    .module-contact__bottom-form a {
        color: #f48841;
    }

    .module-contact__top {
        flex-direction: row;
    }

    .module-contact__heading {
        text-align: center;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .module-contact__lists {
        align-items: center;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .module-contact__lists a {
        font-size: 18px;
        line-height: 24px;
        display: inline-block;
        text-align: left;
    }

    .module-contact__lists a:not(:last-child) {
        margin-bottom: 10px;
    }
}

@media (max-width: 1024px) and (max-width: 768px) {
    .module-contact__bottom-form .form-group.submit {
        right: auto;
        left: 30px;
    }
}

@media (max-width:991px) {
    .module-contact {
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .module-contact__lists a {
        padding-left: 35px;
    }
}