/*!
Theme Name: Kumo Studio
Theme URI: https://bitbucket.org/adi64bit/kumo-studio/
Author: adi64bit
Author URI: https://bitbucket.org/adi64bit/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: kumo
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Khayr is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

.grecaptcha-badge{
    visibility: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
}