.module-package-seo {
    padding: 60px 0;
}

.text-color-black.module-package-seo * {
    color: #002e3f;
}

.module-package-seo__heading {
    margin-bottom: 20px;
}

.module-package-seo__subheading {
    margin-bottom: 40px;
}


.module-package-seo__heading-text {
    margin-bottom: 0;
}

.module-package-seo__content-item {
    padding: 40px;
    border: 1px solid #ffffff;
}

.module-package-seo__content-item-title {
    margin-bottom: 20px;
}

.module-package-seo__content-item-description ul:last-child {
    margin-left: 0;
    margin-bottom: 0 !important;
}

.module-package-seo__content-item-description ul li {
    /* font-size: 20px;
    font-weight: 400;
    line-height: 26px; */
}

.module-package-seo__content .swiper-pagination {
    display: none;
}

.module-package-seo__content.swiper {
    padding-bottom: 40px;
}

.module-package-seo__content.swiper .swiper-pagination {
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    bottom: 0px;
    display: block;
}

.module-package-seo__content.swiper .swiper-pagination-bullet {
    background: transparent;
    border: 2px solid #fff;
    opacity: 1;
    width: 12px;
    height: 12px;
    margin-right: 2px !important;
}

.module-package-seo__content.swiper .swiper-pagination-bullet-active {
    background: #f48841;
    border: 2px solid #f48841;
}

@media (min-width: 991px) {
    .module-package-seo__content {}

    .module-package-seo__content-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -20px;
    }

    .module-package-seo__content-item {
        flex: 0 0 calc(33.33% - 40px);
        max-width: calc(33.33% - 40px);
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
    }
}

/* responsive 991 */
@media (max-width: 991px) {
    .module-package-seo {
        padding: 40px 0;
    }

    .module-package-seo__heading {
        margin-bottom: 30px;
    }

    .module-package-seo__content-item{
        padding: 20px;
    }
    .module-package-seo__content-item-title {
        font-size: 30px;
    }
}