.module-partners {
    padding-top: 50px;
    padding-bottom: 200px;
}

.module-partners__heading {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 120px;
}

.module-partners__slide--image {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.module-partners__slide--image:before {
    content: "";
    position: relative;
    padding-top: 100%;
    display: block;
}

.module-partners__slide {
    padding-left: 20px;
    padding-right: 20px;
}

.module-partners__slides-wrapper {
    padding-left: 50px;
    padding-right: 50px;
}
.module-partners__slides{
    padding-right: 20px;
}

.module-partners__slides .swiper-pagination {
    right: 0px;
    top: 50%;
    transform: translate3d(0px, -50%, 0);
    bottom: auto;
    left: auto;
    width: auto;
}

.module-partners__slides .swiper-pagination-bullet {
    margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0 !important;
    display: block;
    background: transparent;
    border: 2px solid #fff;
    opacity: 1;
    width: 12px;
    height: 12px;
    margin-right: 2px !important;
}

.module-partners__slides .swiper-pagination-bullet-active {
    background: #f48841;
    border: 2px solid #f48841;
}