
.module-gallery__slides{
    padding-left:5px;
    padding-right: 5px;
    padding-bottom: 50px;
}

.module-gallery__slides .swiper-pagination {
    left:0;
    width: 100%;
    bottom: 0;
}

.module-gallery__slides .swiper-pagination-bullet {
    background: transparent;
    border: 2px solid #fff;
    opacity: 1;
    width: 12px;
    height: 12px;
    margin-right: 2px !important;
}

.module-gallery__slides .swiper-pagination-bullet-active {
    background: #f48841;
    border: 2px solid #f48841;
}