.module-image__wrapper {
    position: relative;
    overflow: hidden;
}

.module-image__wrapper>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.module-image__caption {
    max-width: 80%;
    width:50%;
    border-top: 1px solid #f48841;
    padding: 5px 0;
    padding-left: 50px;
    text-align: right;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.module-image__caption.left {
    margin-left: 0;
}

.module-image__caption.right {
    margin-right: 0;
}

.module-image__caption-text {
    font-size: 18px;
    font-style: italic;
    line-height: 24px;
    font-family: 'Open Sans';
}