.footer {
    overflow: hidden;
}

.footer__top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #f48841;
    margin-bottom: 12px;
}

.footer__top-logo {
    display: block;
}

.footer__top-logo--wrapper {
    margin-bottom: 40px;
}

.footer__top-logo--img {
    width: 280px;
    height: auto;
}

.footer__top-address {
    max-width: 100%;
    width: 465px;
    text-align: center;
    margin-bottom: 12px;
}

.footer__top-address p:last-child {
    margin-bottom: 0;
}

.footer__top-menu {
    margin-bottom: 12px;
}

.footer__top-menu-navigation {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.footer__top-menu-navigation li:not(:last-child) {
    margin-right: 30px;
}

.footer__top-menu-navigation li a {
    color: #fff;
}

.footer__top-menu-navigation li a:hover {
    color: #f48841;
}

.footer__bottom-copyright {
    text-align: center;
}

.footer__bottom-copyright p {
    font-size: 14px;
    line-height: 19px;
}

.footer__top-social-media {
    margin-bottom: 40px;
}

.footer__top-social-media ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.footer__top-social-media ul li:not(:last-child) {
    margin-right: 16px;
}

.footer__top-social-media ul li a {
    color: #fff;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    transition: all ease 0.5s;
}

.footer__top-social-media ul li a i {
    font-size: 24px;
}

.footer__top-social-media ul li a:hover {
    color: #f48841;
}


.footer__top-logo--wrapper {
    display: block;
}

.footer__top-text {
    display: none;
}

@media (max-width:991px) {
    .footer__top {
        flex-direction: row;
        justify-content: center;
    }

    .footer__top-logo {
        text-align: center;
    }

    .footer__top-logo--wrapper {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .footer__top-address {
        flex: 0 0 100%;
        max-width: 100%;

    }

    .footer__top-menu ul {
        flex-direction: column;
    }

    .footer__top-menu ul li {
        text-align: center;
    }

    .footer__top-menu ul li:not(:last-child) {
        margin-right: 0;
    }

    .footer__top-social-media {
        margin-bottom: 20px;
    }

    .footer__top-social-media,
    .footer__top-menu {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .footer__top-social-media ul {
        justify-content: center;
    }
}

@media (max-width: 991px) {
    .footer__top-menu {
        display: none;
    }

    .footer__top {
        padding-top: 80px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer__top-logo--wrapper {
        display: none;
    }

    .footer__top-social-media {
        margin-bottom: 50px;
    }

    .footer__top-text {
        display: block;
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        font-weight: bold;
        font-family: 'Futura';
    }

    .footer__top-text p {
        margin-bottom: 0;
    }
}