.module-latest-blog__heading {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    left: 0;
    transition: all ease 0.5s;
}

.module-latest-blog__heading h2 {
    margin-bottom: 0;
}

.module-latest-blog__heading a {
    display: block;
    position: absolute;
    padding-left: 110px;
    color: #f48841;
    margin-top: 15px;
    margin-left: 0px;
    top: 50%;
    left: 100%;
    width: 250px;
    transform: translatey(-50%);
    font-family: 'Futura';
    font-size: 20px;
    line-height: 27px;
    opacity: 0;
    transition: all ease 0.5s;
    transition-delay: .3s;
}

.module-latest-blog__heading a:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    width: 0px;
    height: 1px;
    background-color: #f48841;
    transition: all ease .5s;
    transition-delay: .3s;
}

.module-latest-blog__item {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.module-latest-blog__item:not(:last-child) {
    border-bottom: 1px solid #fff;
}

.module-latest-blog__item--date {
    flex: 0 0 20%;
    max-width: 20%;
}

.module-latest-blog__item--date span {
    font-size: 25px;
    line-height: 33px;
    font-weight: bold;
}

.module-latest-blog__item--content {
    flex: 0 0 80%;
    max-width: 80%;
    padding-left: 100px;
}

.module-latest-blog__item--content .module-button__wrapper--link {
    font-size: 18px;
    line-height: 24px;
}

.module-latest-blog__item--title {
    font-weight: bold;
    margin-bottom: 20px;
}

.module-latest-blog__item--description {
    margin-bottom: 22px;
}

.module-latest-blog__item-category {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.module-latest-blog__item-category li {
    color: #f48841;
}

.module-latest-blog__item-category li a {
    color: #f48841;
}

.module-latest-blog__item-category li:not(:last-child):after {
    content: '|';
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width:991px) {
    .module-latest-blog:hover .module-latest-blog__heading {
        left: calc(50% - 190px);
    }

    .module-latest-blog:hover .module-latest-blog__heading a {
        opacity: 1;
        margin-left: 50px;
    }

    .module-latest-blog:hover .module-latest-blog__heading a:before {
        width: 100px;
    }
}

@media (max-width:991px) {
    .module-latest-blog__heading {
        width: 100%;
        text-align: center;
    }

    .module-latest-blog .module-latest-blog__heading h2 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .module-latest-blog .module-latest-blog__heading a {
        opacity: 1;
        margin-left: 0;
        position: relative;
        padding-left: 0px;
        top: auto;
        left: auto;
        width: 100%;
        transform: none;
    }

    .module-latest-blog__item {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .module-latest-blog__item--date {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .module-latest-blog__item--title {
        margin-bottom: 25px;
    }

    .module-latest-blog__item--content {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
    }

    .module-latest-blog .module-latest-blog__item--date span {
        font-size: 16px;
        line-height: 21px;
    }

    .module-latest-blog .module-latest-blog__item--content {
        display: flex;
        flex-wrap: wrap;
    }

    .module-latest-blog .module-latest-blog__item--content ul {
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
    }

    .module-latest-blog .module-latest-blog__item--content h3 {
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
    }

    .module-latest-blog .module-latest-blog__item--content .module-button {
        flex: 0 0 100%;
        max-width: 100%;
        order: 4;
    }

    .module-latest-blog .module-latest-blog__item--description {
        flex: 0 0 100%;
        max-width: 100%;
        order: 3;
    }

}