.module-banner-content{
    padding-top: 280px;
    padding-bottom: 80px;
}

.module-banner-content__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.module-banner-content__col{
    position: relative;
}

.module-banner-content__col.content{
    flex:0 0 63%;
    max-width: 63%;
}

.module-banner-content__col.image{
    flex:0 0 37%;
    max-width: 37%;
    padding-left: 90px;
}

.module-banner-content__image-wrapper{
    position: relative;
}

.module-banner-content__subheading{
    display: block;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #F48841;
    margin-bottom: 15px;
}

.module-banner-content__heading{
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    margin-bottom: 15px;
    color: #FFFFFF;

}

.module-banner-content__content, .module-banner-content__content p, .module-banner-content__content a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}