.module-image-text-seo {
    padding: 60px 0;
}

.module-image-text-seo.text-color-black * {
    color: #002e3f;
}

.module-image-text-seo__heading {
    margin-bottom: 40px;
}

.module-image-text-seo__heading-text {
    margin-bottom: 0;
}

.module-image-text-seo__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
}

.module-image-text-seo__image-wrapper{
    position: relative;
    overflow: hidden;
}

.module-image-text-seo__right, .module-image-text-seo__left {
    padding-left: 30px;
    padding-right: 30px;
    flex: 0 0 100%;
    max-width: 100%;
}

.module-image-text-seo__right:nth-child(2) {
    flex: 0 0 40%;
    max-width: 40%;
}

.module-image-text-seo__left:not(:last-child) {
    flex: 0 0 60%;
    max-width: 60%;
}

@media (max-width: 991px) {
    .module-image-text-seo {
        padding: 30px 0;
    }
    .module-image-text-seo__right:nth-child(2) {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .module-image-text-seo__left:not(:last-child) {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .module-image-text-seo__left{
        margin-bottom: 30px;
    }
}
