.module-multi-image-seo {
    padding: 60px 0;
}

.module-multi-image-seo__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.module-multi-image-seo__left {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 30px;
}

.module-multi-image-seo__right {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
}

.module-multi-image-seo__left-image {
    margin-left: auto;
    width: 70%;
}

.module-multi-image-seo__right-image {
    width: 70%;
    margin-right: auto;
}

.module-multi-image-seo__left-image,
.module-multi-image-seo__right-image {
    position: relative;
    overflow: hidden;
}

.module-multi-image-seo__left-image:not(:last-child),
.module-multi-image-seo__right-image:not(:last-child) {
    margin-bottom: 30px;
}

/* .module-multi-image-seo__left-image:before,
.module-multi-image-seo__right-image::before {
    content: '';
    display: block;
    position: relative;
    padding-top: 120%;
} */

.module-multi-image-seo__right-image, .module-multi-image-seo__right-text{
    flex:0 0 100%;
    max-width: 100%;
}

.module-multi-image-seo__heading {
    margin-bottom: 40px;
}

.module-multi-image-seo__heading-text {
    margin-bottom: 0;
}

.text-color-black .module-multi-image-seo__heading-text{
    color: #002e3f;
}

.text-color-black .module-multi-image-seo__right-text-content {
    color: #002e3f;
}

/* responsive 991px */
@media (max-width: 991px) {
    .module-multi-image-seo {
        padding: 40px 0;
    }

    .module-multi-image-seo .container{
        padding-left: 0;
        padding-right: 0;
    }

    .module-multi-image-seo__left{
        margin-bottom: 20px;
    }

    .module-multi-image-seo__left,
    .module-multi-image-seo__right {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }

    .module-multi-image-seo__left-image,
    .module-multi-image-seo__right-image {
        width: 100%;
    }

    .module-multi-image-seo__heading {
        margin-bottom: 30px;
    }

    .module-multi-image-seo__left-image:not(:last-child),
    .module-multi-image-seo__right-image:not(:last-child) {
        margin-bottom: 20px;
    }

    .module-multi-image-seo__right-text{
        order: 1;
        margin-bottom: 20px;
    }

    .module-multi-image-seo__right-image {
        order: 2;
        margin-bottom: 0;
    }
}