.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 333;
    transition: all ease .5s;
}

.header.sticky-header {
    background-color: #002E3F;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
}

.admin-bar .header {
    top: 32px;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.header__logo {
    width: 97px;
    height: 55px;
}

.header__logo-wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
    pointer-events: auto;
    transition: all ease .5s;
}

.header.sticky-header .header__logo-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__logo-img {
    width: 100%;
    height: 100%;
}

.header__controls {
    position: relative;
    z-index: 3;
    pointer-events: auto;
}

.header__controls-button ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__controls-button--menu {
    display: block;
    background: none;
    border: none;
    width: 40px;
    height: 28px;
    padding: 0;
    position: relative;
}

.header__controls-button--menu-box {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.header__controls-button--menu-box:before,
.header__controls-button--menu-box:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #f48841;
}

.header__controls-button--menu-box:before {
    top: 0;
}

.header__controls-button--menu-box:after {
    bottom: 0;
}

.header__controls-button--menu-inner {
    position: absolute;
    display: block;
    top: 14px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #f48841;
}

.header__menus {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 65px;
    padding-bottom: 100px;
    background-color: #002e3f;
    z-index: 2;
}

.nanti-di-isi-class .header__menus {
    width: 100%;
    padding-top: 65px;
    padding-bottom: 30px;
    background-color: transparent;
}

.nanti-di-isi-class .header__menus-menu li:not(.small-link) a {
    font-size: 0.78vw;
    line-height: 1.3vw;
}

.nanti-di-isi-class .header__menus-menu li:not(.small-link):hover:before {
    width: 3.64vw;
}

.nanti-di-isi-class .header__menus-menu li:not(.small-link):hover a {
    padding-left: 1.82vw;
}

.nanti-di-isi-class .header__menus-menu li.small-link {
    display: none;
}

.header__menus .menu-main-menu-container {
    max-width: 100%;
    width: 550px;
}

.header__menus-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.header__menus-menu li:not(.small-link) {
    position: relative;
}

.header__menus-menu li:not(.small-link) a {
    font-family: 'Futura', Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 400;
    text-decoration: none;
    line-height: 65px;
    padding-left: 0;
    color: #fff;
    display: block;
    transition: all ease 0.5s;
}

.header__menus-menu li:not(.small-link):before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 0;
    height: 1px;
    left: -50px;
    background-color: #f48841;
    transition: all ease 0.5s;
}

.header__menus-menu li:not(.small-link):hover a {
    padding-left: 100px;
    color: #f48841;
}

.header__menus-menu li:not(.small-link):hover:before {
    width: 150px;
    /* left: -50px; */
}

.header__menus-menu li.small-link {
    margin-bottom: 14px;
}

.header__menus-menu li.small-link a {
    font-family: 'Futura', Helvetica, Arial, sans-serif;
    display: block;
    font-size: 20px;
    line-height: 27px;
    color: #f48841;
    font-weight: bold;
    text-decoration: none;
}

/* .header {
    z-index: 333;
}
.header__wrapper {
    pointer-events: none;
}
.header__logo-wrapper {
    pointer-events: auto;
}
.header__controls {
    pointer-events: auto;
} */

.header.menu-open .header__menus:not(.mini) {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    padding-top: 40px;
}

.header.menu-open .header__controls-button--menu-box span {
    opacity: 0;
}

.header.menu-open .header__controls-button--menu-box:before {
    top: 13px;
    transform: rotate(45deg);
}

.header.menu-open .header__controls-button--menu-box:after {
    bottom: 13px;
    transform: rotate(-45deg);
}

.header__menus:not(.mini) {
    display: block;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.5s;
}

.header__menus.mini {
    display: none;
}

.header__menus:not(.mini) {
    padding-bottom: 50px;
}

.header__menus:not(.mini) .container {
    height: 100%;
}

.header__menus:not(.mini) .menu-main-menu-container {
    height: 100%;
}

.header__menus:not(.mini) .header__menus-menu {
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    padding-bottom: 90px;
    position: relative;
}

@media (max-width:1024px){
    .header__menus:not(.mini) .header__menus-menu{
        height: 90%;
    }
}

.header__menus:not(.mini) .header__menus-menu li {
    display: block;
    flex: 0 0 100%;
    max-width: 100%;
    max-height: 90px;
}

.header__menus:not(.mini) .header__menus-menu li.small-link {
    position: absolute;
    left: 0;
    bottom: 40px;
}

.header__menus:not(.mini) .header__menus-menu li.small-link:last-child {
    bottom: 0;
}

.header__menus:not(.mini) .header__menus-menu li.small-link a[href*="mailto"]:before {
    content: '\e903';
}

.header__menus:not(.mini) .header__menus-menu li.small-link a[href*="wa"]:before {
    content: '\e904';
}

.header__menus:not(.mini) .header__menus-menu li.small-link a:before {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    margin-right: 10px;
}

@media (min-width:1281px) and (max-width:1380px) {
    .header__menus-menu li:not(.small-link) a {
        font-size: 50px;
        line-height: 65px;
    }
}

@media (min-width:991px) and (max-width:1280px) {
    .header__menus-menu li:not(.small-link) a {
        font-size: 50px;
        line-height: 65px;
    }
}

@media (max-width:991px) {
    .banner-widget .header .header__logo-wrapper{
        opacity: 0;
        transition: all ease 0.5s;
    }
    .banner-widget .header.sticky-header .header__logo-wrapper{
        opacity: 1;
    }
}

@media (min-width:991px) {

    .banner-widget .header__logo-wrapper,
    .banner-widget .header__controls {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transition: all ease 0.5s;
    }

    .banner-widget .header .header__menus.mini {
        pointer-events: none;
        display: block;
        height: auto;
        padding-top: 30px;
        padding-bottom: 0;
        background-color: transparent;
        transform: translate(0);
        transition: all ease 0.5s;
        opacity: 0;
        visibility: hidden;
    }

    .admin-bar.banner-widget .header .header__menus.mini {
        padding-top: 62px;
    }

    .banner-widget.banner-widget-loaded .header .header__menus.mini {
        opacity: 1;
        visibility: visible;
    }

    .banner-widget .header .header__menus.mini .header__menus-menu {
        pointer-events: auto;
    }

    .banner-widget .header .header__menus.mini .header__menus-menu li.small-link {
        display: none;
    }

    .banner-widget .header .header__menus.mini .header__menus-menu li a {
        font-size: 16px;
        line-height: 25px;
    }

    .banner-widget .header .header__menus.mini .header__menus-menu li:not(.small-link):hover:before {
        width: 70px;
    }

    .banner-widget .header .header__menus.mini .header__menus-menu li:not(.small-link):hover a {
        padding-left: 35px;
    }

    .banner-widget .header .header__menus.mini .menu-main-menu-container {
        width: 250px;
    }

    .banner-widget .header.sticky-header .header__menus.mini,
    .banner-widget .header.menu-open .header__menus.mini {
        opacity: 0;
        transform: translatey(-100%);
        visibility: hidden;
    }

    .banner-widget .header:not(.menu-open).sticky-header .header__logo-wrapper,
    .banner-widget .header.sticky-header .header__controls,
    .banner-widget .header.menu-open .header__controls {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }


}

@media (max-width:991px) {
    .admin-bar .header {
        top: 0px;
    }

    .header__logo {
        height: 75px;
        width: 134px;
    }

    .header__logo-wrapper {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .header__menus:not(.mini) .header__menus-menu li {
        margin-bottom: 10px;
    }

    .header__menus:not(.mini) .header__menus-menu li:not(.small-link) a {
        font-size: 35px;
        line-height: 50px;
    }

    .header__menus:not(.mini) .header__menus-menu li.small-link a {
        font-size: 16px;
        line-height: 20px;
    }

}

@media (max-width:768px) {

    .header__logo {
        height: 56px;
        width: 100px;
    }
}

@media (max-width:500px) {
    .module-banner {
        padding-top: 0;
        height: auto !important;
    }
}