.module-banner {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 600px;
    height: 100vh;
    max-height: 1080px;
}

.admin-bar .module-banner {
    height: calc(100vh - 32px);
}

.module-banner .container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.module-banner__top {
    width: 100%;
    height: 100%;
    position: relative;
}

.module-banner__wrapper {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 25%;
    padding-right: 25%;
}

.module-banner .container {
    position: relative;
}

.module-banner__anchor {
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 5;
    opacity: 0;
    transition: all ease 0.5s;
}

.banner-widget-loaded .module-banner__anchor {
    opacity: 1;
}

.module-banner__anchor-trigger {
    color: #fff;
    text-decoration: none;
    font-size: 60px;
    display: block;
    transform: rotate(180deg);
    transition: all ease 0.5s;
}

.module-banner__anchor-trigger:hover {
    color: #f48841;
}


@media (min-width: 1200px){
    .module-banner__services{
        margin-left: 80px;
    }
}

@media (min-width: 1200px) and (max-height:600px){
    .module-banner__wrapper{
        flex: 0 0 90%;
        max-width: 90%;
    }
}

@media (min-width: 1200px) and (max-height:550px){
    .module-banner__wrapper{
        flex: 0 0 80%;
        max-width: 80%;
    }
}


@media (min-width: 1440px) and (min-height: 900px) {
    .module-banner__wrapper {
        padding-right: 5%;
    }
}

.module-banner__image {
    width: 100%;
    height: auto;
    margin: 0;
}

.module-banner__image svg {
    height: auto;
    width: 100%;
}

.module-banner__image svg:not(.complete) path {
    /* fill: none;
    stroke: none;
    stroke-width: 4; */
    opacity: 0;
}

.module-banner__image svg:not(.complete).initialize path {
    /* stroke: #FDFDFF;
    stroke-width: 4; */
    opacity: 1;
}

.module-banner__image svg:not(.complete).initialize path:last-child {
    /* stroke: none; */
}

.module-banner__image svg:not(.complete).initialize path:nth-child(2),
.module-banner__image svg:not(.complete).initialize path:nth-child(3) {
    /* stroke: #326a8d; */
}

.module-banner__heading {
    font-size: 30px;
    line-height: 40px;
    font-family: 'Futura';
    font-weight: 400;
    text-align: right;
    margin-top: -15px;
    opacity: 0;
}

.module-banner__services {
    flex: 0 0 100%;
    max-width: 100%;
    align-self: flex-end;
}

.module-banner__services-slider .swiper-pagination {
    right: 24%;
    width: auto;
    bottom: 0;
}

.module-banner__services .swiper-pagination-bullet {
    background: transparent;
    border: 2px solid #fff;
    opacity: 1;
    width: 12px;
    height: 12px;
    margin-right: 2px !important;
}

.module-banner__services .swiper-pagination-bullet-active {
    background: #f48841;
    border: 2px solid #f48841;
}

.module-banner__services-slider {
    padding-left: 25%;
    margin-right: -25%;
    padding-right: 20px;
    padding-bottom: 50px;
}

.module-banner__services-slide {
    position: relative;
    transition: all ease 0.5s;
}

/* .module-banner__services-slide:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    background-color: rgba(0, 0, 0, .16);
} */

.module-banner__services-slide:before {
    /* content: '';
    display: block;
    position: relative;
    padding-top: 83%; */
    display: none !important;
}

.module-banner__services-slide--wrap {
    /* position: absolute;
    top: 30%;
    left: 50%;
    width: 250px;
    max-width: 100%;
    transform: translatex(-50%); */

    position: relative;
    width: 250px;
    max-width: 100%;
    top: auto;
    left: auto;
    transform: none;
}

.module-banner__services-slide--label {
    font-size: 25px;
    line-height: 33px;
    font-family: 'Futura';
    font-weight: bold;
    color: #f48841;
}

@media (min-width: 1360px) {
    .module-banner__services-slide--label {
        /* font-size: 1.3vw;
        line-height: 1.7vw; */
    }
}

.module-banner__services-slide--title {
    font-size: 30px;
    line-height: 40px;
    font-family: 'Futura';
    font-weight: 400;
    margin-bottom: 0;
}

@media (min-width: 1360px) {
    .module-banner__services-slide--title {
        /* font-size: 1.56vw;
        line-height: 2.08vw; */
    }
}

.module-banner__services-slide--description {
    font-size: 16px;
    line-height: 20px;
}

@media (min-width: 1600px) {
    .module-banner__services-slide--description {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (min-width: 1250px) and (max-height: 700px) {
    .module-banner__services-slide--wrap {
        /* top: 18%; */
    }

    .module-banner__services-slide {
        min-height: 170px;
    }

    .module-banner__services-slide:before {
        padding-top: 25vh;
    }

    .module-banner__services-slider {
        padding-bottom: 30px;
    }
}

@media (max-width: 1024px) {
    /* .module-banner {
        padding-top: 200px;
    }

    .module-banner__top {
        width: 550px;
    }

    .module-banner__services-slider {
        padding-left: 100px;
    } */
}

@media (max-width: 991px) {
    .module-banner__wrapper {
        align-self: flex-end;
        padding-right: 10%;
        padding-left: 10%;
    }

    .module-banner__services-slider .swiper-pagination {
        right: 0;
    }

    .module-banner__services-slider {
        padding-left: 40px;
        margin-left: -30px;
        margin-right: -30px;
    }

    .module-banner__services-slide--wrap {
        top: 0;
        left: 0;
        padding: 10px;
        transform: none;
    }

    .module-banner__services-slide--label {
        font-size: 16px;
        line-height: 21px;
    }

    .module-banner__services-slide--title {
        font-size: 20px;
        line-height: 27px;
    }

    .module-banner__services-slide--description {
        margin-bottom: 0;
    }

    .module-banner {
        padding-bottom: 100px;
    }


}

@media (min-width: 500px) {
    .module-banner__heading br {
        display: none;
    }
}

@media (max-width: 500px) {
    .module-banner__wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .module-banner__image {
        margin-bottom: 15px;
    }

    .module-banner__anchor {
        bottom: -90px;
        left: 50%;
        transform: translatex(-50%);
    }

    .module-banner__anchor-trigger {
        font-size: 45px;
    }

    .module-banner__image {
        margin-bottom: 30px;
    }

    .module-banner__heading {
        text-align: center;
    }

    .module-banner__heading .word {
        /* display: block; */
    }

    .module-banner__services-slide:before {
        display: none;
    }

    .module-banner__services-slide--wrap {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
    }

    .module-banner__wrapper {
        padding-left: 25px;
        padding-right: 25px;
    }

    .module-banner__image {
        margin-bottom: 15px;
    }

    .module-banner__heading {
        margin-left: -55px;
        margin-right: -55px;
    }


    /* .module-banner__image {
        margin-bottom: 15px;
    }

    .module-banner__top {
        max-width: 90%;
    }

    .module-banner__services-slider {
        padding-left: 0px;
    }

    .module-banner__services-slide--wrap {
        top: 25%;
        left: 10%;
    } */
}