.module-grid__heading {
    margin-bottom: 50px;
}

.module-grid__item {
    margin-bottom: 20px;
}

.module-grid__item--title {
    font-size: 30px;
    line-height: 40px;
    font-family: 'Futura';
    font-weight: 400;
    margin-bottom: 11px;
    color: #f48841;
}

@media (max-width: 991px) {
    .module-grid__heading {
        margin-bottom: 50px;
        text-align: center;
    }

    .module-grid__items.swiper {
        padding-bottom: 50px;
    }

    .module-grid__items.swiper .swiper-pagination {
        bottom: 0;
    }

    .module-grid__items.swiper .swiper-pagination-bullet {
        background: transparent;
        border: 2px solid #fff;
        opacity: 1;
        width: 12px;
        height: 12px;
        margin-right: 2px !important;
    }

    .module-grid__items.swiper .swiper-pagination-bullet-active {
        background: #f48841;
        border: 2px solid #f48841;
    }

}