.module-services-v2{
    padding-top: 80px;
    padding-bottom: 80px;
}

.module-services-v2__row{
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
}

.module-services-v2__col{
    flex:0 0 25%;
    max-width: 25%;
    padding-left: 35px;
    padding-right: 35px;
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.module-services-v2__heading{
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 90px;
}

.module-services-v2__col--image{
    position: relative;
    margin-bottom: 50px;
}

.module-services-v2__col--image:before{
    content: '';
    display: block;
    padding-top: 60%;
    z-index: 1;
}

.module-services-v2__col--title{
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #F48841;
    margin-bottom: 30px;
}

.column-3 .module-services-v2__col{
    flex:0 0 33.3333333333%;
    max-width: 33.3333333333%;
}

.card-alignment-left .module-services-v2__col--image{
    margin-bottom: 20px;
}
.card-alignment-left .module-services-v2__col--title,
.card-alignment-left .module-services-v2__col--description{
    margin-bottom: 20px;
}
.card-alignment-left .module-services-v2__col,
.card-alignment-left .module-services-v2__col--title{
    text-align: left;
}

/* responsive 991 */
@media (max-width: 991px){
    .module-services-v2{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .module-services-v2__row{
        padding-left: 15px;
        padding-right: 15px;
    }
    .module-services-v2__col{
        flex:0 0 50%;
        max-width: 50%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .column-3 .module-services-v2__col{
        flex:0 0 50%;
        max-width: 50%;
    }
}

/* responsive 767 */
@media (max-width: 767px){
    .module-services-v2__col{
        flex:0 0 100% !important;
        max-width: 100% !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    .module-services-v2__heading{
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 60px;
    }
    .module-services-v2__col--title{
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .module-services-v2__col--description{
        font-size: 19px;
        line-height: 26px;
    }
    .module-services-v2__col .module-button__wrapper--link{
        font-size: 18px;
        line-height: 1.2;
    }
}