.module-text-overview-seo{
    padding: 80px 0;
}

/* RESPONSIVE */
@media (max-width: 991px) {
    .module-text-overview-seo{
        padding: 40px 0;
    }

    .module-text-overview-seo .container{
        padding-left: 0;
        padding-right: 0;
    }
}

.module-text-overview-seo__wrapper{
    max-width: 100%;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.text-color-black .module-text-overview-seo__wrapper * {
    color: #002e3f;
}

.text-align-center .module-text-overview-seo__heading-text,
.text-align-center .module-text-overview-seo__content-item {
    text-align: center;
}

.text-align-left .module-text-overview-seo__heading-text,
.text-align-left .module-text-overview-seo__content-item {
    text-align: left;
}

.text-align-right .module-text-overview-seo__heading-text,
.text-align-right .module-text-overview-seo__content-item {
    text-align: right;
}

.module-text-overview-seo__heading-text{
    margin-bottom: 40px;
}
/* responsive */
@media (max-width: 991px) {
    .module-text-overview-seo__heading-text{
        margin-bottom: 30px;
    }
}

.module-text-overview-seo__content-item:not(:last-child){
    margin-bottom: 40px;
}

/* responsive */
@media (max-width: 991px) {
    .module-text-overview-seo__content-item:not(:last-child){
        margin-bottom: 30px;
    }
}
