.module-services{
    padding-top: 60px;
    padding-bottom: 30px;
}

.module-services__heading {
    margin-bottom: 50px;
}

.module-services__slide {
    padding: 10px;
    opacity: 0.6;
}

.module-services__slide.swiper-slide-active,
.module-services__slide.swiper-slide-next {
    opacity: 1;
}
.module-services__slide:hover .module-services__slide--image img{
    transform: scale(1.15);
}
.module-services__slide--image {
    position: relative;
    overflow: hidden;
    background-color: #ddd;
    margin-bottom: 30px;
}

.module-services__slide--image img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease .5s;
}

.module-services__slide--image:before {
    content: '';
    display: block;
    position: relative;
    padding-top: 56.4%;
}

.module-services__slide--label {
    font-size: 25px;
    line-height: 33px;
    font-family: 'Futura';
    font-weight: bold;
    color: #f48841;
}

.module-services__slide--title {
    font-size: 30px;
    line-height: 40px;
    font-family: 'Futura';
    font-weight: 400;
    margin-bottom: 0;
}

.module-services__slide--description {
    font-size: 18px;
    line-height: 24px;
}

@media (max-width:991px){
    .module-services__heading{
        text-align: center;
    }
}

@media (max-width:991px){
    .module-services__slides{
        padding-left: 30px !important;
        padding-right: 30px;
    }

    .module-services__slide--title {
        font-size: 25px;
        line-height: 30px;
    }
}