.module-testimonial {
    padding-top: 60px;
    padding-bottom: 30px;
}

.module-testimonial__heading {
    margin-bottom: 50px;
}

.module-testimonial__slides {
    width: 100%;
    height: 100%;
    padding-right: 50px;
}

.module-testimonial__slides-wrapper {
    height: 500px;
}

.module-testimonial__slides .swiper-pagination-bullet {
    background: transparent;
    border: 2px solid #fff;
    opacity: 1;
    width: 12px;
    height: 12px;
    margin-right: 2px !important;
}

.module-testimonial__slides .swiper-pagination-bullet-active {
    background: #f48841;
    border: 2px solid #f48841;
}

.module-testimonial__slide--label {
    margin-bottom: 10px;
    display: block;
}

.module-testimonial__slide--title {
    position: relative;
    display: block;
    padding: 5px 0px;
    padding-right: 58px;
    min-width: 240px;
    margin-bottom: 10px;
}

.module-testimonial__slide--title:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: -100px;
    height: 100%;
    z-index: -1;
    background-color: #f48841;
}

.module-testimonial__slide--description {
    max-width: 100%;
    width: 550px;
}

.module-testimonial__slide--wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.module-testimonial__slide--content {
    flex: 0 0 55%;
    max-width: 55%;
    padding-left: 100px;
}

.module-testimonial__slide--image {
    flex: 0 0 45%;
    max-width: 45%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}

.module-testimonial__slide--image:before {
    content: '';
    display: block;
    padding-top: 40%;
}

@media (max-width:991px) {
    .module-testimonial__heading {
        text-align: center;
    }

    .module-testimonial .container {
        padding-left: 0;
        padding-right: 0;
    }

    .module-testimonial__slide {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width:768px) {
    .module-testimonial {
        padding-top: 15px;
    }

    .module-testimonial__slides {
        padding-right: 0;
        padding-bottom: 50px;
        height: auto;
    }

    .module-testimonial__slides-wrapper {
        height: auto;
    }

    .module-testimonial__slide {
        padding-left: 0px;
        padding-right: 0px;
    }

    .module-testimonial__slide--image {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .module-testimonial__slide--content {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }

    .module-testimonial__slide--title {
        margin-bottom: 10px;
    }

    .module-testimonial__slide--title:before {
        left: 0;
    }

}