.module-banner-seo {
    padding-top: 60px;
}

.module-banner-seo.show-arrow{
    padding-bottom: 50px;
}

.module-banner-seo .container{
    position: relative;
}

.module-banner-seo__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.module-banner-seo__top {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 2.7vw;
}

.image-right .module-banner-seo__top {
    padding-left: 0;
}

.image-left .module-banner-seo__image {
    order: 1;
}

.image-left .module-banner-seo__top {
    order: 2;
    padding-right: 0;
}

@media (max-width: 1100px) {
    .module-banner-seo__top {
        flex: 0 0 65%;
        max-width: 65%;
    }
}

@media (max-width: 991px) {
    .module-banner-seo {
        padding-top: 0px !important;
    }
    .module-banner-seo .container{
        padding-left: 0;
        padding-right: 0;
    }
    .module-banner-seo__top {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 30px 0px;
    }

    .image-left .module-banner-seo__image {
        order: 2;
    }

    .image-left .module-banner-seo__top {
        order: 1;
    }

    .image-right .module-banner-seo__top,
    .image-left .module-banner-seo__top {
        padding: 30px 0px;
    }
}

.module-banner-seo__heading {
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .module-banner-seo__heading {
        margin-bottom: 20px;
    }
}

.text-color-black .module-banner-seo__heading {
    color: #002e3f;
}

.module-banner-seo__subheading {
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .module-banner-seo__subheading {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 1.2;
    }

    .module-banner-seo .module-button__wrapper--link{
        font-size: 18px;
        line-height: 1.2;
    }
}

.text-color-black .module-banner-seo__subheading {
    color: #002e3f;
}

.module-banner-seo__link-item {
    margin-bottom: 15px;
}

.text-color-black .module-banner-seo__link-item .module-button__wrapper--link:hover {
    color: #002e3f;
}

.module-banner-seo__image {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    overflow: hidden;
}
.module-banner-seo .module-banner__anchor-trigger{
    font-size: 4.1vw;
    width: 4.1vw;
    height: 4.1vw;
}
.module-banner-seo .module-banner__anchor-trigger .icon{
    width: 4.1vw;
    height: 4.1vw;
    font-size: 4.1vw;
}

@media (min-width: 1024px) {
    .module-banner-seo__image {
        max-height: 65vh;
    }
}

@media (max-width: 1100px) {
    .module-banner-seo__image {
        flex: 0 0 35%;
        max-width: 35%;
    }
}

@media (max-width: 991px) {
    .module-banner-seo__image {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.module-banner-seo__image:before {
    content: '';
    display: block;
    position: relative;
    padding-top: 100%;
}