* {
    outline: 0;
    background-repeat: no-repeat;
    vertical-align: middle;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #FDFDFF;
    background: #002E3F;
}

p,
a {
    line-height: 1.2;
    font-size: 16px;
    vertical-align: top;
}

.futura {
    font-family: 'Futura', Helvetica, Arial, sans-serif;
}

.open-sans {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-orange {
    color: #F48841;
}

.text-white {
    color: #FDFDFF;
}

h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6 {
    font-family: 'Futura', Helvetica, Arial, sans-serif;
}

h2,
.h2 {
    font-size: 60px;
    font-weight: bold;
    line-height: 80px;
}

h3,
.h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
}

@media (max-width:768px) {

    h3,
    .h3 {
        font-size: 25px;
        line-height: 28px;
    }
}

h4 {
    font-size: 25px;
    font-weight: 400;
    line-height: 33px;
}

h5 {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

@media (max-width:768px) {

    h2,
    .h2 {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width:768px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .page-wrap {
        margin-top: 75px;
    }
}

.content-img__item,
.content-img__item-imgwrap,
.article-content .content-img__item-imgwrap img,
.content-img__item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    backface-visibility: visible;
}

[class*="add-graphic-"] {
    position: relative;
}

[class*="graphic-element-"] {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    transform: translate(-50%, 0);
    z-index: -1;
}

[class*="graphic-element-"] img,
[class*="graphic-element-"] svg {
    position: absolute;
    transform: translate(-50%, -50%);
}

@media (max-width:991px) {
    .graphic-element-svg {
        display: none;
    }
}

.graphic-element-svg svg:not(.complete) path {
    /* fill: none; */
    /* stroke: none;
    stroke-width: 4; */
    opacity: 0;
}

.graphic-element-svg svg:not(.complete).initialize path {
    opacity: 1;
    /* stroke: #f48841;
    stroke-width: 4; */
}


.graphic-element-0 img,
.graphic-element-0 svg {
    width: 22.72vw;
    height: 22.57vw;
}

.graphic-element-1 img,
.graphic-element-1 svg {
    width: 20.99vw;
    height: 20.89vw;
}

.graphic-element-2 img,
.graphic-element-2 svg {
    width: 22.72vw;
    height: 22.57vw;
}

.graphic-element-3 img,
.graphic-element-3 svg {
    width: 4.63vw;
    height: 7.91vw;
}

.graphic-element-4 img,
.graphic-element-4 svg {
    width: 8.79vw;
    height: 7.16vw;
}

.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 50px;
    z-index: 333;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all ease 0.5s;
}

@media (max-width:768px) {
    .scroll-to-top {
        right: 0px;
    }
}

.sticky-header .scroll-to-top {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
}

.scroll-to-top a {
    color: #fff;
    text-decoration: none;
    font-size: 60px;
    display: block;
    transition: all ease 0.5s;
}

.scroll-to-top a:hover {
    color: #f48841;
}

.single-blog__top {
    min-height: 550px;
    height: 100vh;
    position: relative;
    margin-bottom: 80px;
}

.single-blog__top--breadcrumb {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
}

.single-blog__top--breadcrumb a:not(.btn) {
    color: #fff !important;
    text-decoration: none !important;
}

.single-blog__top--breadcrumb .breadcrumb_last {
    display: none;
}

.single-blog__top--image-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    transform: translatex(-50%);
}

.single-blog__top--image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.single-blog__top--content {
    padding-top: 150px;
    padding-left: 50px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.single-blog__top--heading {
    margin-bottom: 30px;
}

.single-blog__top--heading h1 {
    font-size: 60px;
    line-height: 80px;
    font-weight: bold;
    margin-bottom: 30px;
    position: relative;
}

.single-blog__top--heading h1:before {
    content: '';
    display: block;
    position: absolute;
    width: 300px;
    height: 1px;
    background-color: #f48841;
    left: -300px;
    top: 45px;
}

.single-blog__top--heading-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.single-blog__top--heading-cat {
    padding: 0;
    margin: 0;
    margin-bottom: 0 !important;
    list-style: none;
    display: flex;
}

.single-blog__top--heading-cat li {
    padding: 0 !important;
    padding-right: 5px !important;
}

.single-blog__top--heading-cat li a:not(.btn) {
    color: #fff !important;
    text-decoration: none !important;
}

.single-blog__top--heading-cat li:before {
    display: none;
}

.single-blog__top--heading-cat li:not(:last-child):after {
    content: ' |';
}

.single-blog__top--heading-date {
    color: #f48841;
    display: block;
    padding-left: 100px;
}

.single-blog__top--social {
    margin-bottom: 40px;
}

.single-blog__top--social ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.single-blog__top--social ul li {
    padding: 0;
    color: #fff;
}

.single-blog__top--social ul li:not(:last-child) {
    margin-right: 10px;
}

.single-blog__top--social ul li:before {
    display: none;
}

.single-blog__top--social ul li a {
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    background-color: transparent;
    color: #fff !important;
    text-decoration: none !important;
    transition: all ease .5s;
}

.single-blog__top--social ul li a:hover {
    background-color: #fff;
    color: #f48841 !important;
}

.single-blog__top--social ul li a i {
    font-size: 20px;
    line-height: 35px;
    color: #fff;
}

.single-blog__top--social ul li a:hover i {
    color: #f48841 !important;
}


.single-blog__bottom {
    margin-top: 60px;
    border-top: 1px solid #f48841;
}

.single-blog__bottom--wrap {
    display: flex;
    flex-wrap: wrap;
}

.single-blog__bottom--cat {
    flex: 0 0 50%;
    max-width: 50%;
}

.single-blog__bottom--cat,
.single-blog__bottom--tag {
    margin-bottom: 80px;
}

.single-blog__bottom--cat ul,
.single-blog__bottom--tag ul,
.single-blog__bottom--social ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.single-blog__bottom--cat ul li,
.single-blog__bottom--tag ul li,
.single-blog__bottom--social ul li {
    padding: 0;
    margin-right: 10px;
    color: #fff;
}

.single-blog__bottom--cat ul li:last-child,
.single-blog__bottom--tag ul li:last-child,
.single-blog__bottom--social ul li:last-child {
    margin-right: 0;
}

.single-blog__bottom--cat ul li:before,
.single-blog__bottom--tag ul li:before,
.single-blog__bottom--social ul li:before {
    display: none;
}

.single-blog__bottom--cat ul li a,
.single-blog__bottom--tag ul li a,
.single-blog__bottom--social ul li a {
    color: #fff !important;
}

.single-blog__bottom--tag {
    flex: 0 0 50%;
    max-width: 50%;
}

.single-blog__bottom--tag ul {
    justify-content: flex-end;
}

.single-blog__bottom--tag ul li:last-child {
    margin-right: 0;
}

.single-blog__bottom--social {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 100px;
}

.single-blog__bottom--social ul {
    justify-content: center;
}

.single-blog__bottom--social ul li a {
    display: block;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    text-decoration: none !important;
    transition: all ease .5s;
}

.single-blog__bottom--social ul li a:hover {
    background-color: #fff;
    color: #F48841;
}

.single-blog__bottom--social ul li a i {
    font-size: 20px;
    line-height: 35px;
    color: #fff;
}

.single-blog__bottom--social ul li a:hover i {
    color: #F48841;
}

.single-blog__bottom--navigation {
    flex: 0 0 100%;
    margin-bottom: 130px;
}

.single-blog__bottom--navigation .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-blog__bottom--navigation .nav-links .nav-previous,
.single-blog__bottom--navigation .nav-links .nav-next {
    flex: 0 0 45%;
    max-width: 45%;
}

.single-blog__bottom--navigation .nav-links .nav-previous a,
.single-blog__bottom--navigation .nav-links .nav-next a {
    display: flex;
    flex-direction: column-reverse;
    text-decoration: none !important;
}

.single-blog__bottom--navigation .nav-links .nav-previous a .nav-title,
.single-blog__bottom--navigation .nav-links .nav-next a .nav-title {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 12px;
}

.single-blog__bottom--navigation .nav-links .nav-previous a .nav-subtitle,
.single-blog__bottom--navigation .nav-links .nav-next a .nav-subtitle {
    font-size: 20px;
    font-weight: bold;
}

.single-blog__bottom--navigation .nav-links .nav-previous a .nav-subtitle i,
.single-blog__bottom--navigation .nav-links .nav-next a .nav-subtitle i {
    position: relative;
    display: inline-block;
    transform: rotate(-90deg);
    font-size: 26px;
    margin-right: 10px;
}

.single-blog__bottom--navigation .nav-links .nav-next {
    text-align: right;
}

.single-blog__bottom--navigation .nav-links .nav-next a .nav-subtitle i {
    margin-left: 10px;
    transform: rotate(90deg);
}

.content-img__item,
.content-img__item-imgwrap,
.content-img__item-img,
.content-img__item-imgwrap img {
    width: 100%;
    height: 100%;
}

.archive-title {
    padding-top: 150px;
}

.archive-title h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 80px;
}

.single-blog__bottom--cat ul li:not(:last-child) a:after,
.single-blog__bottom--tag ul li:not(:last-child) a:after {
    content: ',';
}


@media (max-width:768px) {
    .single .content-wrap>.container {
        max-width: 100%;
    }

    .single-blog__top {
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .single-blog__top--image {
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        height: auto;
    }

    .single-blog__top--image:before {
        content: '';
        display: block;
        position: relative;
        padding-top: 50%;
    }

    .single-blog__top--image-wrap {
        flex: 0 0 calc(100% + 60px);
        max-width: calc(100% + 60px);
        margin-left: -30px;
        margin-right: -30px;
        margin-bottom: 23px;
        position: relative;
        top: auto;
        left: auto;
        width: auto;
        height: auto;
        transform: none;
        order: 2;
    }

    .single-blog__top--heading {
        display: flex;
        flex-wrap: wrap;
    }

    .single-blog__top--heading-cat {
        flex: 0 0 calc(100% - 70px);
        max-width: calc(100% - 70px);
        display: block;
    }

    .single-blog__top--heading-cat li {
        display: inline-block;
    }

    .single-blog__top--heading-cat li a {
        word-break: nowrap;
    }

    .single-blog__top--heading-date {
        flex: 0 0 70px;
        max-width: 70px;
        padding-left: 0;
        text-align: right;
    }

    .single-blog__top--heading-wrap {
        flex: 0 0 100%;
        max-width: 100%;
        order: 2;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 0px;
    }

    .single-blog__top--heading h1 {
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
        font-size: 25px;
        line-height: 33px;
        margin-bottom: 30px;
    }

    .single-blog__top--heading h1:before {
        display: none;
    }

    .single-blog__top--social {
        margin-bottom: 0;
    }

    .single-blog__top--social ul {
        justify-content: center;
        margin-bottom: 0;
    }

    .single-blog__top--content {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
        order: 1;
    }

    .single-blog__top--content .single-blog__top--breadcrumb {
        display: none;
    }

}

.single-blog__top--breadcrumb.mobile {
    display: none;
}

@media (max-width: 768px) {
    .single-blog__top--breadcrumb.mobile {
        display: block;
    }

    .single-blog__bottom--cat,
    .single-blog__bottom--tag {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }

    .single-blog__bottom--cat ul,
    .single-blog__bottom--tag ul {
        margin-bottom: 0;
        display: block;
    }

    .single-blog__bottom--cat ul li,
    .single-blog__bottom--tag ul li {
        display: inline-block;
    }

    .single-blog__bottom--tag {
        margin-bottom: 50px;
    }

    .single-blog__bottom--navigation .nav-links .nav-previous,
    .single-blog__bottom--navigation .nav-links .nav-next {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 40px;
    }

    .single-blog__bottom--social {
        margin-bottom: 40px;
    }
}

.module-banner__anchor-trigger,
.scroll-to-top-trigger {
    position: relative;
    width: 60px;
    height: 60px;
}

@media (max-width: 991px) {

    .module-banner__anchor-trigger,
    .scroll-to-top-trigger {
        width: 40px;
        height: 40px;
    }
}

.module-banner__anchor-trigger .icon,
.scroll-to-top-trigger .icon {
    display: block;
    width: 60px;
    height: 60px;
    font-size: 60px;
    position: relative;
}

@media (max-width: 991px) {

    .module-banner__anchor-trigger .icon,
    .scroll-to-top-trigger .icon {
        width: 40px;
        height: 40px;
        font-size: 40px;
    }
}

.module-banner__anchor-trigger .icon:before,
.scroll-to-top-trigger .icon:before,
.module-banner__anchor-trigger .icon:after,
.scroll-to-top-trigger .icon:after {
    position: absolute;
    bottom: 0;
    transition: all ease 0.5s;
}

.module-banner__anchor-trigger .icon:after,
.scroll-to-top-trigger .icon:after {
    content: "\e908";
    bottom: 0;
    transform: rotate(0deg);
}

.module-banner__anchor-trigger:hover .icon:before,
.scroll-to-top-trigger:hover .icon:before {
    bottom: 15%;
}

.module-banner__anchor-trigger:hover .icon:after,
.scroll-to-top-trigger:hover .icon:after {
    bottom: -15%;
}

.grecaptcha-badge {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: -22;
}

@media (max-width: 991px) {

    .lax-elm-up,
    .lax-elm-up-0,
    .lax-elm-down {
        transform: none !important;
    }
}

.error-404 {
    padding-top: 200px;
    padding-bottom: 50px;
    max-width: 100%;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
@media (max-width: 768px) {
    .error-404 {
        padding-top: 100px;
   }
}
.error-404 .page-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 15px;
}
@media (max-width: 768px) {
    .error-404 .page-title {
        font-size: 30px;
        line-height: 40px;
   }
}
