/* WYSIWYG Style */

.article-content {
    width: 100%
}

.article-content h2,
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
    color: #fff;
    margin-bottom: 20px
}

.article-content p:not(:last-child) {
    margin-bottom: 25px
}

.article-content p.lead {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
}

.article-content img {
    width: 100%;
    height: auto
}

.article-content .aligncenter {
    display: block;
    margin: 0 auto;
    width: auto
}

.article-content .alignright {
    float: right;
    margin: 5px 0 20px 20px;
    width: auto
}

.article-content .alignleft {
    float: left;
    margin: 5px 20px 20px 0;
    width: auto
}

.article-content ul:not(.module-latest-blog__item-category) li,
.article-content ol li {
    position: relative;
    padding: 0 0 10px 29px
}

.article-content ul:not(.module-latest-blog__item-category) li:last-child,
.article-content ol li:last-child {
    padding-bottom: 0
}

.article-content ol li:before,
.article-content ul:not(.module-latest-blog__item-category) li:before {
    left: 0;
    position: absolute;
    content: ""
}

.article-content ol,
.article-content ul:not(.module-latest-blog__item-category) {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 25px
}

.article-content ol ol,
.article-content ol ul:not(.module-latest-blog__item-category),
.article-content ul:not(.module-latest-blog__item-category) ol,
.article-content ul:not(.module-latest-blog__item-category) ul:not(.module-latest-blog__item-category) {
    padding-left: 0;
    padding-top: 5px
}

.article-content>ol,
.article-content>ul:not(.module-latest-blog__item-category) {
    margin-top: 0
}

.article-content ol {
    counter-reset: li;
}

.article-content ol li {
    color: #fff
}

.article-content ol li li {
    padding-left: 20px
}

.article-content ol li:before {
    counter-increment: li;
    content: counter(li) ".";
    top: 0;
    font-size: inherit;
    font-weight: 400;
    color: #F48841;
    left: 0;
    position: absolute;
    display: inline-block;
}

.article-content ol li ol {
    counter-reset: lili;
    margin-bottom: 0
}

.article-content ol li ol li:before {
    counter-increment: lili;
    content: counter(lili) ".";
    color: #F48841;
}

.article-content ol li ol li li:before {
    color: #F48841
}

.article-content ul:not(.module-latest-blog__item-category) li:before {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #F48841;
    top: 10px;
    transform: translateY(-50%)
}

.article-content ul:not(.module-latest-blog__item-category) li ul:not(.module-latest-blog__item-category) {
    margin-bottom: 0
}

.article-content ul:not(.module-latest-blog__item-category) li li:before,
.article-content ul:not(.module-latest-blog__item-category) li li li:before {
    background-color: #F48841
}

.article-content hr {
    margin-bottom: 25px
}

.article-content iframe {
    width: 100% !important;
    max-width: 100%
}

.article-content a:not(.btn) {
    color: #F48841
}

.article-content a:not(.btn):active,
.article-content a:not(.btn):focus,
.article-content a:not(.btn):hover {
    color: #f95b1f;
    text-decoration: underline
}

.article-content table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
    font-size: 14px
}

.article-content table>tbody>tr>td,
.article-content table>tbody>tr>th,
.article-content table>tfoot>tr>td,
.article-content table>tfoot>tr>th,
.article-content table>thead>tr>td,
.article-content table>thead>tr>th {
    padding: 10px 15px;
    line-height: 1.4;
    vertical-align: top
}

.article-content table>thead {
    background-color: #F48841;
    color: #fff;
    text-align: left
}

.article-content table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #fff
}

.article-content table>caption+thead>tr:first-child>td,
.article-content table>caption+thead>tr:first-child>th,
.article-content table>colgroup+thead>tr:first-child>td,
.article-content table>colgroup+thead>tr:first-child>th,
.article-content table>thead:first-child>tr:first-child>td,
.article-content table>thead:first-child>tr:first-child>th {
    border-top: 0
}

.article-content table>tbody+tbody {
    border-top: 2px solid #F48841
}

.article-content table table {
    background-color: transparent
}

.article-content table>tbody>tr:nth-of-type(2n) {
    background-color: transparent
}

.article-content .table-responsive {
    overflow-x: auto
}

@media (max-width: 35.99em) {
    .article-content .table-responsive {
        width: 100%;
        margin-bottom: 20px;
        overflow-y: hidden;
        border: 1px solid #F48841
    }

    .article-content .table-responsive>table {
        margin-bottom: 0
    }

    .article-content .table-responsive>table>tbody>tr>td,
    .article-content .table-responsive>table>tbody>tr>th,
    .article-content .table-responsive>table>tfoot>tr>td,
    .article-content .table-responsive>table>tfoot>tr>th,
    .article-content .table-responsive>table>thead>tr>td,
    .article-content .table-responsive>table>thead>tr>th {
        white-space: nowrap
    }
}

.article-content blockquote {
    margin-bottom: 32px;
    position: relative;
    padding: 30px 0px;
}

.article-content blockquote p:last-child {
    margin-bottom: 0;
}

.article-content blockquote:before,
.article-content blockquote:after {
    content: '';
    position: absolute;
    display: block;
    width: auto;
    top: 0;
    left: -100px;
    right: 0px;
    height: 1px;
    background-color: #f48841;
}

.article-content blockquote:after {
    top: auto;
    bottom: 0;
    left: 0px;
    right: -100px;
}

.article-content blockquote,
.article-content blockquote p {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-style: italic;
    font-size: 18px;
    line-height: 25px;
    color: #fff
}

.article-content__share {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid #F48841
}

.article-content__share p {
    margin: 0;
    padding-right: 20px
}

.article-content__share__title {
    margin: 0 20px 0 0
}

.article-content__share__link {
    padding-bottom: 5px;
    padding-right: 20px
}

.article-content__share__link svg {
    height: 18px;
    fill: #000
}

.article-content .wp-caption:not(:last-child) {
    margin-bottom: 25px
}

.wp-caption {
    position: relative;
    max-width: 100%
}

.wp-caption-text {
    max-width: 80%;
    width: 434px;
    border-top: 1px solid #f48841;
    padding: 5px 0;
    padding-left: 50px;
    text-align: right;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: auto;
    font-size: 18px;
    font-style: italic;
    line-height: 24px;
    font-family: 'Open Sans';
}

@media (max-width: 61.99em) {
    .wp-caption-text {
        margin-top: 8px;
        width: 100%
    }
}

#breadcrumbs,
#breadcrumbs a,
#breadcrumbs span {
    display: inline;
    vertical-align: bottom;
}

#breadcrumbs .breadcrumb_last {
    display: none;
}

@media (max-width:768px) {
    .modul:not(.module-latest-blog__item-category)e-image__caption {
        width: 100% !important;
    }
}

.modul:not(.module-latest-blog__item-category)e-image__caption-text {
    display: inline-block;
    width: 434px;
    max-width: 100%;
}

.article-content .entry-content ul:not(.module-latest-blog__item-category),
.article-content .entry-content ol {
    padding-left: 20px;
}

.article-content .entry-content a:not(.btn):not(.has-strong) {
    color: #F48841;
    text-decoration: underline;
    /* position underline below text */
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    text-underline-offset: 2px;
}
.article-content .entry-content a:not(.btn).has-strong{
    text-decoration: none !important;
}
.article-content .entry-content a:not(.btn) > strong {
    text-decoration: underline;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
    text-underline-offset: 2px;
}

.article-content .entry-content a:not(.btn):hover {
    color: rgba(197, 199, 195, 1);
}

.single-blog__bottom--navigation .nav-links .nav-previous a:hover,
.single-blog__bottom--navigation .nav-links .nav-next a:hover {
    color: rgba(197, 199, 195, 1);
}