.form-group {
    position: relative;
    margin-bottom: 50px
}

@media (max-width:768px){
    .form-group {
        margin-bottom: 15px;
    }
}

input[type=text],
input[type=email],
input[type=password],
select,
textarea {
    width: 100%;
    padding: 5px 0px;
    border: none;
    background-color: transparent;
    border-radius: 0;
    outline: none;
    font-family: 'Futura', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    color: #fff;
    border: 1px solid transparent;
    border-bottom: 1px solid #fff;
    -webkit-appearance: none
}

.form-group:last-child {
    margin-bottom: 0
}

.form-group br {
    display: none
}

.form-group label {
    position: absolute;
    top: 15px;
    left: 0px;
    font-family: 'Futura', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    line-height: 1.2;
    display: block
}


.form-group .wpcf7-not-valid-tip {
    display: block;
    position: relative;
    top: 0;
    font-weight: 100;
    font-size: 12px;
    color: #fff;
    left: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0
}

.form-group.invalid label {
    color: #dc1e34
}

.form-group .invalid input[type=text],
.form-group .invalid input[type=email],
.form-group .invalid input[type=password],
.form-group .invalid select,
.form-group .invalid textarea {
    border-color: #dc1e34
}

.form-group .invalid .wpcf7-not-valid-tip {
    color: #dc1e34
}

.form-group label {
    opacity: 1;
    pointer-events: none;
    transition: all ease .3s
}

.form-group.focused label {
    font-size: 10px;
    top: 4px;
    opacity: .5
}

.form-group .rechapcha-text {
    margin-bottom: 20px
}

.form-group .wpcf7-not-valid-tip {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 1.2
}

.form-group .wpcf7-response-output {
    color: #dc1e34;
    background-color: transparent;
    text-align: left;
    border: none !important;
    padding: 15px 0 !important;
    margin: 0 !important;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1.2px;
    line-height: 1.2
}
.wpcf7 form.sent .form-group .wpcf7-response-output{
    color: #46b450;
}

.form-group .wpcf7-mail-sent-ok {
    color: #fff
}

.form-group.focused [for=preferred-contact] {
    top: 15px;
    left: 15px;
    font-weight: 600;
    font-size: 12px;
    opacity: 1
}

.form-group.selected label {
    opacity: 0 !important
}

.form-group.selected select {
    padding: 10px 15px;
    padding-top: 14px;
    padding-bottom: 14px
}

.form-group textarea {
    max-height: 150px;
}

.form-group.recaptcha,
.form-group.response {
    margin-bottom: 0;
}

.form-group.submit {
    position: absolute;
    right: -30px;
    bottom: 80px;
}

.form-group.submit button {
    padding: 5px 37px;
    border: none;
    background-color: #f48841;
    color: #fff;
}