.module-services-seo {
    padding: 80px 0;
}

.module-services-seo__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.module-services-seo__left {
    flex: 0 0 45%;
    max-width: 45%;
    padding: 0 15px;
}

.module-services-seo__right {
    flex: 0 0 55%;
    max-width: 55%;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.module-services-seo__image-wrapper {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}

.module-multi-image-seo__image-1,
.module-multi-image-seo__image-2,
.module-multi-image-seo__image-3 {
    position: relative;
    overflow: hidden;
}

.module-multi-image-seo__image-1 {
    margin-left: 50px;
}

.module-multi-image-seo__image-1:not(:last-child),
.module-multi-image-seo__image-2:not(:last-child),
.module-multi-image-seo__image-3:not(:last-child) {
    margin-bottom: 30px;
}

.module-services-seo__heading {
    margin-bottom: 80px;
}

.module-services-seo__heading-text {
    margin-bottom: 0;
}

.module-services-seo__content{
    max-height: 350px;
    overflow-y: auto;
}

.module-services-seo__content-item:not(:last-child) {
    margin-bottom: 20px;
}

.module-services-seo__content-item a {
    display: inline-block;
}

.module-services-seo__content-item h4 {
    margin-bottom: 0;
    color: #ffffff;
}

.text-color-black .module-services-seo__heading-text{
    color: #002e3f;
}

.text-color-black .module-services-seo__content-item h4 {
    color: #002e3f;
}

.module-services-seo__right-mobile .swiper-slide{
    position: relative;
}
.module-services-seo__right-mobile{
    flex: 0 0 100%;
    max-width: 100%;
    display: none;
}
.module-services-seo__right-mobile-swiper{
    padding-bottom: 40px;
}

.module-services-seo__right-mobile-swiper-image{
    position: relative;
    overflow: hidden;
}
.module-services-seo__right-mobile-swiper-image::before{
    content: '';
    display: block;
    padding-top: 75%;
    position: relative;
}

.module-services-seo__right-mobile .swiper-pagination {
    left:50%;
    transform: translateX(-50%);
    width: auto;
    bottom: 0px;
}

.module-services-seo__right-mobile .swiper-pagination-bullet {
    background: transparent;
    border: 2px solid #fff;
    opacity: 1;
    width: 12px;
    height: 12px;
    margin-right: 2px !important;
}

.module-services-seo__right-mobile .swiper-pagination-bullet-active {
    background: #f48841;
    border: 2px solid #f48841;
}
/* responsive 991 */
@media (max-width: 991px) {
    .module-services-seo {
        padding: 40px 0;
    }
    .module-services-seo__left {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }

    .module-services-seo__heading{
        margin-bottom: 40px;
    }

    .module-services-seo__right {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .module-services-seo__image-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
        padding: 0;
    }

    .module-multi-image-seo__image-1 {
        margin-left: 0;
    }

    .module-services-seo__right{
        display: none;
    }

    .module-services-seo__right-mobile{
        display: block;
    }
}