.module-article-widget {
    padding-top: 60px;
    padding-bottom: 60px;
}

.module-article-widget__wrapper {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.module-article-widget .module-latest-blog__item--image .content-img__item {
    height: 100%;
}

.module-article-widget .khayr-ajax__list .module-latest-blog__item {
    padding-bottom: 30px;
    padding-top: 30px;
}

.module-article-widget .khayr-ajax__list .module-latest-blog__item--content {
    padding-bottom: 0;
    border-bottom: none;
}

.module-article-widget a {
    text-decoration: none !important;
}

.module-article-widget__wrapper:not(.maw-show-category) .module-latest-blog__item-category {
    display: none;
}

.module-article-widget__wrapper:not(.maw-show-date) .module-latest-blog__item--date-inner {
    display: none;
}

.module-article-widget__wrapper:not(.maw-show-description) .module-latest-blog__item--description {
    display: none;
}

.module-article-widget .khayr-ajax__list .module-latest-blog__item:after{
    display: none;
}