@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?50hlu0');
  src: url('fonts/icomoon.eot?50hlu0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?50hlu0') format('truetype'),
    url('fonts/icomoon.woff?50hlu0') format('woff'),
    url('fonts/icomoon.svg?50hlu0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e909";
}

.icon-filter:before {
  content: "\e90a";
}

.icon-line:before {
  content: "\e908";
}

.icon-linkedin:before {
  content: "\e905";
}

.icon-twitter:before {
  content: "\e906";
}

.icon-panah:before {
  content: "\e907";
}

.icon-arrow:before {
  content: "\e900";
}

.icon-facebook:before {
  content: "\e901";
}

.icon-instagram:before {
  content: "\e902";
}

.icon-mail:before {
  content: "\e903";
}

.icon-wa:before {
  content: "\e904";
}

.icon-email:before {
  content: "\e903";
}

.icon-whatsapp:before {
  content: "\e904";
}