.module-faq-accordion {
    padding: 60px 0;
}

.module-faq-accordion__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}

.module-faq-accordion__heading {
    flex: 0 0 30%;
    max-width: 30%;
    padding-right: 20px;
    padding-left: 20px;
}

@media (min-width:991px) {
    .module-faq-accordion__heading-text {
        font-size: 75px;
        line-height: 1.2;
    }
}

.module-faq-accordion__faqs {
    flex: 0 0 70%;
    max-width: 70%;
    padding-right: 20px;
    padding-left: 20px;
}

/* responsive 991px */
@media (max-width: 991px) {
    .module-faq-accordion {
        padding: 40px 0;
    }

    .module-faq-accordion__wrapper {
        margin-left: 0;
        margin-right: 0;
    }

    .module-faq-accordion__heading {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
    }

    .module-faq-accordion__faqs {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}


.module-faq-accordion__content-item {
    --faq-height: 0;
    margin-bottom: 24px;
    transition: all ease 0.5s;
    position: relative;
}

.module-faq-accordion__content-item--line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: #fff;
    width: 0%;
}

.module-faq-accordion__content-item--line.sal-animate {
    width: 100%;
}

.module-faq-accordion__content-item:not(.im-faq-accordion--active) {
    cursor: pointer;
}

.module-faq-accordion__content-item--heading {
    padding: 24px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    position: relative;
}

/* .module-faq-accordion__content-item--heading:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85%;
    height: 1px;
    background-color: #ffffff;
    transition: all ease 0.5s;
}

.im-faq-accordion--active .module-faq-accordion__content-item--heading:after{
    left: -80px;
} */


.module-faq-accordion__content-item--heading--title {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0px;
    margin-bottom: 0;
    font-size: 35px;
    line-height: 1.2;
}


.module-faq-accordion__content-item--content {
    overflow: hidden;
    transition: all ease 0.5s;
    height: var(--faq-height);
}

.module-faq-accordion__content-item--content--wrapper {
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
    width: 100%;
}

.module-faq-accordion__content-item--content--wrapper article-content p:last-child {
    margin-bottom: 0;
}

@media (max-width: 991px) {
    .module-faq-accordion__content-item {
        margin-bottom: 16px;
        padding-left: 0px;
    }

    .im-faq-accordion--active .module-faq-accordion__content-item--heading:after {
        left: 0;
    }

    .module-faq-accordion__content-item--heading--title {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .module-faq-accordion__content-item--heading {
        padding: 20px 0;
    }

    .module-faq-accordion__content-item--content--wrapper {
        width: 100%;
    }

    .module-faq-accordion__content-item--heading--title {
        font-size: 25px;
    }
}