.module-review {
    padding-top: 40px;
    padding-bottom: 80px;
}

@media (max-width: 991px) {
    .module-review {
        padding-top: 0;
        padding-bottom: 60px;
    }
}

.module-review__title {
    margin-bottom: 50px;
    text-align: center;
}

@media (max-width: 991px) {
    .module-review__title {
        margin-bottom: 30px;
    }
}

.module-review__tag-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-bottom: 60px;
}

@media (max-width: 991px) {
    .module-review__tag-list {
        margin-bottom: 30px;
    }
}

.module-review.hide-category .module-review__tag-lists,
.module-review.hide-category .module-review__count-item {
    display: none;
}

.module-review__tag-item {
    margin: 5px;
    margin-top: 0;
    margin-bottom: 10px;
}

.module-review__tag-link {
    display: inline-block;
    border: 1px solid #707070;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    background-color: #002e3f;
    border-radius: 0;
    max-width: 100%;
    cursor: pointer;
    color: #fdfdff;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
}

.module-review__tag-link.active,
.module-review__tag-link:hover {
    color: #fff;
    background-color: #f48841;
    border: 1px solid #f48841;
}

.module-review__item-description {
    margin-bottom: 30px;
}

.module-review__item-description,
.module-review__item-description p {
    font-weight: bold;
    font-size: 21px;
    line-height: 1.2;
}

@media(min-width: 768px) {

    .module-review__item-description,
    .module-review__item-description p {
        font-size: 35px
    }
}

@media(min-width: 1024px) {

    .module-review__item-description,
    .module-review__item-description p {
        font-size: 40px
    }
}

@media (max-width: 991px) {

    .module-review__item-description,
    .module-review__item-description p {
        font-size: 22px;
    }
}

.module-review__item-title {
    font-weight: bold;
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.module-review__count-item {
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .module-review__count-item {
        margin-bottom: 15px;
    }
}

.module-review__item-label {
    font-weight: 600;
}

.module-review__item-label,
.module-review__item-source {
    margin-bottom: 10;

}

.module-review__item-label:last-child,
.module-review__item-source:last-child {
    margin-bottom: 0;
}

.module-review__slides-wrap {
    border-radius: 50px;
    text-align: center;
    padding: 60px 40px;
    position: relative;
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    .module-review__slides-wrap {
        padding: 30px 25px;
    }
}


.module-review .swiper-pagination {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: auto;
    bottom: auto;
    top: calc(100% + 20px);
}

.module-review .swiper-pagination-bullet {
    background: transparent;
    border: 2px solid #fff;
    opacity: 1;
    width: 12px;
    height: 12px;
    margin-right: 2px !important;
}

.module-review .swiper-pagination-bullet-active {
    background: #f48841;
    border: 2px solid #f48841;
}