.module-button__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.module-button__wrapper.center {
    justify-content: center;
}

.module-button__wrapper.left {
    justify-content: flex-start;
}

.module-button__wrapper.right {
    justify-content: flex-end;
}

.module-button__wrapper--link {
    font-family: 'Futura';
    font-size: 20px;
    line-height: 27px;
    font-weight: bold;
    display: block;
    position: relative;
    color: #f48841;
}

.module-button__wrapper--link:hover {
    color: #fff;
}

.module-button__wrapper--link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.module-button__wrapper--link span {
    display: block;
}

.module-button__wrapper--link span.icon {
    font-size: 26px;
    line-height: 1;
    margin-left: 15px;
}

.module-button__wrapper--link span.icon:before {
    display: block;
    transform: rotate(90deg);
}

.module-button__wrapper--link span.icon-arrow,
.module-button__wrapper--link span.icon-panah {
    transition: all ease 0.5s;
    padding-left: 0px;
}

.module-button__wrapper--link span.icon-arrow {
    font-size: 14px;
}

.module-button__wrapper--link span.icon-panah {
    height: 26px;
    width: 26px;
    position: relative;
    display: inline-block;
}

.module-button__wrapper--link span.icon-panah:before,
.module-button__wrapper--link span.icon-panah:after {
    display: inline-block;
    position: absolute;
    bottom: 0px;
}

.module-button__wrapper--link span.icon-panah:before {
    right: 0;
}

.module-button__wrapper--link span.icon-panah:after {
    content: "\e908";
    left: 0;
    transform: rotate(90deg);
}

.module-button__wrapper--link:hover span.icon-arrow {
    padding-left: 15px;
}

.module-button__wrapper--link:hover span.icon-panah {
    width: 46px;
    padding-left: 15px;
}